
.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
}

.features-list li {
    width: 270px;
}

.features-list li:not(:last-child) {
    margin-right: 30px;
}

.features-icons {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.features-icon {
    width: 70px;
    height: 70px;
}

.features-list-title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--title-text-colour);
    margin-bottom: 10px;
    margin-top: 30px;
}

.features-description {
@include font(null, 14px, 1.14, 0.03em);
    color: var(--primary-text-color);
}